 :root {
         --white: #FFFFFF;
         --purple:#e6e6fa;
 }


 * {
         box-sizing: border-box;
 }


 body {
         background-color:var(--purple);
 }


 .top {
         position: relative;
         display: flex;
         justify-content: center;
 }


 .svgone {
         position: absolute;
 }


 .center {
         position: relative;
         display: flex;
         justify-content: center;
 }


 .content {
         position: absolute;
         color: black;
         border: 5px solid black;
         border-radius: 50px;
         height: 680px;
         width: 459px;
         text-align: center;
         background-color: var(--white);
 }


 .content pre {
         font-size: 16px;
 }


 .svgtwo {
         border-top-left-radius: 45px;
         border-top-right-radius: 45px;
 }
