 :root {
         --white: #FFFFFF;
         --purple:#e6e6fa;
         --black:#000000;
         --gray:#f2f2f2;
         --graywhite: #dadce0;
 }


 * {
         box-sizing: border-box;
 }


 body {
         background-color:var(--purple);
 }


 .top {
         position: relative;
         display: flex;
         justify-content: center;
 }


 .bgimage {
         position: absolute;
 }


 .center {
         position: relative;
         display: flex;
         justify-content: center;
         border: 5px solid var(--black);
         border-radius: 50px;
         width: 459px;
         height: 660px;
         left: 35%;
         right: 40%;
         top: 10px;
         background-color: var(--white);
 }


 .center:hover {
         box-shadow: 18px 20px var(--black);
         border-left: none;
         border-top: none;
}


 .content {
         position: absolute;
         color: var(--black);
         text-align: center;
 }


 #musicman {
         border-top-left-radius: 45px;
         border-top-right-radius: 45px;
 }


 .content pre {
         font-size: 16px;
 }


 .annualplan {
         border: 1px solid var(--graywhite);
         background-color: var(--gray);
         margin-top: -10px;
         margin-left: 20px;
         margin-right: 20px;
         border-radius: 50px;
         height: 75px;
 }


 .annualplan:hover {
         border: 1px solid var(--black);
 }


 #musicicon {
         position: absolute;
         left: 40px;
         bottom: 11px;
         width: 12%;
 }


 .price {
         line-height: 6px;
 }


 .price p {
         font-size: 20px;
 }


 .price a {
         position: absolute;
         right: 45px;
         bottom: 35px;
         font-size: 19px;
         text-decoration: none;
         color: navy;
         font-weight: bold;
 }


 .price a:hover {
         text-decoration: underline;
 }
 .price a:active {
         color: red;
 }